html
  body
    ion-view(title='Cut page')
      ion-content(padding='true')
        canvas#page(width=350 height=500)
        button.button.button-block.button-energized(ng-click='cut()')
         | Cut
