html
  body
    //
        This template loads for the 'tab.about' state (app.js)
    ion-view(hide-nav-bar='true')
      ion-content(padding='true')
        section.home-page.col.col-75.col-offset-10
          div.logo
          p
            a.button.button-block.button-energized.button-large(ui-sref='trial') Start trial
          p
            a.button.button-block.button-energized.button-large(ui-sref='tour') Take a tour
          p
            a.button.button-block.button-energized.button-outline(ui-sref='login') Login
