html
  body
    //
        This template loads for the 'tab.about' state (app.js)
    ion-view(hide-nav-bar='true')
      ion-content(padding='true')
        section.home-page.col.col-75.col-offset-10(data-model='gym_session')
          input(placeholder='Squat' value='{squat}')
          input(placeholder='Bench' value='{bench}')
          input(placeholder='Press' value='{press}')
          input(placeholder='Power clean' value='{powerclean}')
          input(placeholder='Deadlift' value='{deadlift}')

          a.button.button-block.button-balanced.button-large(onClick='{create}') Save

        section(data-model='gym_session' data-step='2')
          h1 Registered
          p Squat: {squat} kg
          p Bench: {bench} kg
          p Press: {press} kg
          p Power clean: {powerclean} kg
          p Deadlift: {deadlift} kg
          a.button.button-block.button-balanced.button-large(onClick='{previous}') Back
