html
  body
    ion-view(title='InvisionApp name')
      ion-content(padding='true')
        form(ng-submit='save(invisionapp_name_form)' role='form'
          ng-init='invisionapp_name_form = {}')
          div.list
            label.item.item-input
              input(type='text' name='name' placeholder='Invisionapp app name'
                ng-model='invisionapp_name_form.name' required='required')
          button.button.button-block.button-energized(type='submit') Save
