html
  body
    //
        This template loads for the 'tab.about' state (app.js)
    ion-view(title='Login')
      ion-content(padding='true')
        form(ng-submit='submitLogin(loginForm)' role='form'
          ng-init='loginForm = {}')

          div.list
            label.item.item-input
              input(type='email' name='email' placeholder='Email address'
                ng-model='loginForm.email' required='required')
            label.item.item-input
              input(type='password' name='password' placeholder='Password'
                ng-model='loginForm.password' required='required')
          button.button.button-block.button-energized(type='submit') Login
