html
  body
    ion-view(title='Photo' hide-back-button=true)
      ion-content(padding='true')
        div Something
        button#upload.button.button-block.button-energized(ng-click='takePhoto()')
         | Take photo
