html
  body
    //
        This template loads for the 'tab.about' state (app.js)
    ion-view(title='Photo')
      ion-content(padding='true')
        div Something
          button.button.button-block.button-energized(ng-click='takePhoto()')
           | Take photo
